extends layout

block content
  div#root!=component
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer)
  script(src="/dist/bundle.min.js" defer)
  script(src="semantic/dist/semantic.min.js" defer)
